<div class="hero">
  <h1>Kaj si želiš od države?</h1>
  <p class="subtitle">Napiši svojo željo, umetna inteligenca ti bo predlagala, katere stranke so ti najbližje.</p>

  <%= form_with url: wishes_path, method: :post, class: "wish-form" do |f| %>
    <%= f.text_area :content, placeholder: "Npr: Želim si boljše javno zdravstvo, nižje davke za mlade podjetnike in več vlaganja v obnovljive vire energije...", rows: 5, class: "wish-input", required: true %>
    <%= f.submit "Analiziraj", class: "btn" %>
    <p class="form-notice">Tvoja želja bo javno objavljena in vidna vsem obiskovalcem. <br/>V bazi ne hranimo tvojega IP-ja, če pa želite maksimalno anonimnost, lahko uporabite <%= link_to "Brave brskalnik", "https://brave.com", target: "_blank" %>, ki podpira proxy strežnik ali Tor omrežje.</p>
  <% end %>
</div>

<% if @newest.any? %>
  <div class="wishes-sections">
    <div class="wishes-section">
      <h2>Najnovejše želje</h2>
      <div class="recent-wishes">
        <% @newest.each do |wish| %>
          <div class="recent-wish-row">
            <%= render "vote_buttons", wish: wish %>
            <%= link_to wish_path(wish), class: "recent-wish" do %>
              <p><%= truncate(wish.content, length: 120) %></p>
              <span class="time"><%= time_ago_in_words(wish.created_at) %> nazaj</span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <% if @most_upvoted.any? %>
      <div class="wishes-section">
        <h2>Najbolj priljubljene želje</h2>
        <div class="recent-wishes">
          <% @most_upvoted.each do |wish| %>
            <div class="recent-wish-row">
              <%= render "vote_buttons", wish: wish %>
              <%= link_to wish_path(wish), class: "recent-wish" do %>
                <p><%= truncate(wish.content, length: 120) %></p>
                <span class="time"><%= time_ago_in_words(wish.created_at) %> nazaj</span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if @recently_upvoted.any? %>
      <div class="wishes-section">
        <h2>Nedavno priljubljene želje</h2>
        <div class="recent-wishes">
          <% @recently_upvoted.each do |wish| %>
            <div class="recent-wish-row">
              <%= render "vote_buttons", wish: wish %>
              <%= link_to wish_path(wish), class: "recent-wish" do %>
                <p><%= truncate(wish.content, length: 120) %></p>
                <span class="time"><%= time_ago_in_words(wish.created_at) %> nazaj</span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
